body
{
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Bellota', cursive, sans-serif;
}

#container
{
    display: flex;
}

.left_container
{
    width: 18%;
    background-color:#7B1FA2;
    border-top: 2px solid #6A1B9A;
    border-bottom: 2px solid #6A1B9A;
    
}

.right_container
{
    width: 77%;
    background-color: white;
    margin-left: 4em;
    margin-top: 6em;   
}

.left_container h2
{   
    background-color: #212121;
    text-align: center;
    font-size: 1.9em;
    color: #7B1FA2;
    border-left: 2px solid #696969;
}

header h1
{
    margin: auto;
    font-size: 3.3em; 
}

header h2
{
    margin: auto; 
}

.louis
{
    color: #7B1FA2;
}

.devel
{
    border-bottom: 2px solid #7B1FA2;
}

.icons h2
{
    font-size: 1.6em;
}

.contact
{
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-bottom: 3em;  
    height: 220px;
}

.contact p
{
    height: 17px;
}

.propos
{
    text-align: justify;
    padding-left: 3em;
    padding-right: 3em;
    height: 630px;
    padding-top: 1px;
}

.formation
{
    margin-top: 30px; 
}

.recommandation
{
    display: flex;
    align-items: initial;
    padding-top: 2em;
    
}

.left_reco, .right_reco
{
    width: 50%;
}

.ulpadding
{
    display: inline;
    padding-inline-start: 0;
}

 li 
{
    margin-left: 0;
    margin-top: 5px;
    display: flex;
    align-items: baseline;
}
   
li p, li h3
{
    text-align: justify;
    margin: 8px;    
}

.name 
{
    margin-right: 50px;
    margin-left: 150px;
}

.date
{
    margin-top: 3em;
    margin-left: 10px;
}

.img
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    height: 230px;
}

img
{
    border: 3px solid #6A1B9A;
    border-radius: 50%;
    height: 190px;
    width: 190px;   
}

.left_icons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 45px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    color: #212121;
}

.icon1, .icon2, .icon3
{
    border: 2px solid #212121;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;  
    overflow: hidden;
}

.right_icons
{
    color: #7B1FA2;
    font-size: 35px;
    margin-right: 30px;
}

.icons
{
    display: flex;
    align-items: baseline;
    border-bottom: 2px solid #7B1FA2;
    margin-top: 40px;
}

.dot_circle
{
    color: #7B1FA2;
    font-size: 10px;
}

.circle
{
    font-size: 10px;
    color: #7B1FA2;
  
}

/* Laptop */
@media screen and (max-width: 1024px) 
{
    .left_container
    {
        width: 30%;
    }

    .right_container
    {
        width: 60%;
    }

    .name 
    {
        margin-right: 10px;
        margin-left: 30px;
    }

    .date
    {
        width: 50%;
    }

    .propos
    {
        height: 900px;
    }

    .left_icons
    {
        margin-top: 15%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) 
{
    .left_container
    {
        width: 30%;
    }

    .right_container
    {
        width: 60%;
        margin-top: 50px;
        margin-left: 2.5em;
    }

    header h1
    {
        font-size: 3em;
    }
    
    .left_icons
    {
       font-size: 30px;
        align-items: center;
        justify-content: space-around;
    }

    img
    {
        height: 150px;
        width: 150px;
    }
    
    .ulpadding
    {
       padding-inline-start: 0;
       display: inline-flex;
       flex-direction: column;
    }
    
     li 
    {
        margin-left: 0px;
        margin-top: 5px;
    }
       
    li p 
    {
        text-align: justify;
        margin: 5px; 
        margin-left: 10px;   
    }

    li h3
    {
        margin: 9px;
        text-align: justify;
    }
    
    .name 
    {
        margin-right: 10px;
        margin-left: 30px;
    }
    
    .date
    {
        margin-top: 1em;
        margin-bottom: 15px;
        width: 90%;
    }

    .img
    {
        margin-top: 25px;
        height: 160px;
    }

    .formation
    {
        margin-top: 30px; 
    }

    .contact
    {
        padding-left: 2em;
        padding-bottom: ;  
        height: 250px;
        justify-content: center;
    }

    .contact p
    {
        height: 17px;
    }

    .propos
    {
        text-align: justify;
        padding-left: 2em;
        padding-right: 2em;
        height: 100%;
        padding-top: 1px;
        margin-bottom: 470px;
    }

    .icon1, .icon2, .icon3
    {
        
        height: 40px;
        width: 40px;
        text-align: center;  
        overflow: hidden;
    }

}

/* Smartphone */
@media screen and (max-width: 425px) 
{
    #container
    {
        flex-direction: column;
    }

    .left_container
    {
        width: 100%;
    }

    .left_container p, 
    {
        font-size: 10px;
    }

    .right_container
    {
        width: 90%;
        margin-top: 50px;
        margin-left: 25px;
    }

    header h1
    {
        font-size: 2.5em;
        
    }
    
    .left_icons
    {
       margin-bottom: 55px;
    }

    img
    {
        height: 170px;
        width: 170px;
    }

    .img
    {
        margin-top: 35px;
        margin-bottom: 35px;
        height: 100%;
    }

    li
    {
        flex-direction: column;
        text-align: justify;
        
    }
       
    li p, li h3 
    {
        text-align: center;
        
      
    }

    .right_reco
    {
       margin-left: 30px;
    }

    .experience
    {
        font-size: 13.2px;
    }
    
    .date
    {
        width: 100%;
        text-align: center;
    }

    .formation
    {
        margin-top: 15px; 
    }

    .contact
    {
        padding-left: 20px;
        padding-bottom: 25px;  
        height: 100%;
        
    }

    .propos
    {
       
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
       
    }

    .circle
    {
        margin-left: 50%;
        margin-top: 15px;
    }

    .dot_circle
    {
        margin-left: 50%;
    }
         
}

@media screen and (max-width: 375px)
{
    .experience
    {
        font-size: 11.3px;
 
    }

    .right_icons
    {
        margin-right: 13px;
    }

    .right_reco
    {
       margin-left: 4.5px;
    }

    .recommandation
    {
        font-size: 14px;
    }

} 

@media screen and (max-width: 320px) 
{
    .left_container
    {
        width: 100%;
        
    }

    .left_container p, 
    {
        font-size: 10px;
    }

    .right_container
    {
        width: 90%;
        margin-top: 50px;
        margin-left: 16px;
    }

    header h1
    {
        font-size: 2.1em;
        
    }

    footer h2
    {
        font-size: 10px;
    }

    .experience
    {
        font-size: 9.3px;
        
    }

    .right_icons
    {
        margin-right: 12px;
    }

    .reco_h2
    {
        font-size: 13px;
    }

    .right_reco
    {
       margin-left: 4.5px;
    }

    .recommandation
    {
        font-size: 13px;
    }
}

