body
{
    font-family: 'Bellota', cursive, sans-serif;
}

#container
{
    display: flex;
    height: 100%;
    
}

.left_container
{
    width: 18%;
    background-color:#7B1FA2;
    border-top: 2px solid #6A1B9A;
    border-bottom: 2px solid #6A1B9A;  
}

.img
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    height: 230px;
}

img
{
    border: 3px solid #6A1B9A;
    border-radius: 50%;
    height: 190px;
    width: 190px;   
}

.left_container h2
{   
    background-color: #212121;
    text-align: center;
    font-size: 1.9em;
    color: #7B1FA2;
    border-left: 2px solid #696969;
    
   
}

.contact
{
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-bottom: 3em;  
    height: 220px;
}

.contact p
{
    height: 17px;
}

.propos
{
    text-align: justify;
    padding-left: 3em;
    padding-right: 3em;
    height: 630px;
    padding-top: 1px;
}

.lefticons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 45px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    color: #212121;
}

.icon1
{
    border: 2px solid #212121;
    border-radius: 50%;
    height: 56px;
    width: 56px;  
}

.icon2
{
    border: 2px solid #212121;
    border-radius: 50%;
    height: 59px;
    width: 59px;  
}

.icon3
{
    border: 2px solid #212121;
    border-radius: 50%;
    height: 59px;
    width: 59px;  
}

.right_container
{
    width: 77%;
    background-color: white;
    margin-left: 4em;
    margin-top: 6em;   
}

.louis
{
    color: #7B1FA2;
}

header h2
{
    margin: auto; 
}

header h1
{
    margin: auto;
    font-size: 3.3em; 
}

.devel
{
    border-bottom: 2px solid #7B1FA2;
}

.formation
{
    margin-top: 90px; 
}

.ulpadding
{
    display: inline;
    padding-inline-start: 0;
}


 li 
{
    margin-left: 1.2em;
    display: flex;
    align-items: baseline;

}
   
li p
{
    text-align: justify;
     
}

.name 
{
   
    margin-right: 50px;
    margin-left: 150px;
    
}

.date
{
    
    margin-top: 3em;
    margin-left: 10px;
    
}

.experience
{
    margin-top: 1em;
}

.recommandation
{
    display: flex;
    align-items: initial;
    justify-content: space-between;
    padding-top: 1em
}

.rightreco
{
    
}
.icons
{
    display: flex;
    align-items: baseline;
    border-bottom: 2px solid #7B1FA2;
    
}

.icons h2
{
    font-size: 1.6em;

}

.righticons
{
    color: #7B1FA2;
    font-size: 35px;
    margin-right: 30px;
}

.dot_circle
{
    color: #7B1FA2;
    font-size: 10px;
    
}

.circle
{
    font-size: 10px;
    color: #7B1FA2;
}


