body
{
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Bellota', cursive, sans-serif;
}

.container
{
    display: flex;
}

.left_container
{
    width: 25%;
    background-color: #6A1B9A;
    border-top: 2px solid #4A148C;
    border-bottom: 2px solid #4A148C; 
    display: flex;
    flex-direction: column;  
}

.right_container
{
    width: 70%;
    background-color: white;
    margin-left: 4em;
    margin-top: 6em;   
}

.left_container h2
{   
    background-color: #212121;
    text-align: center;
    font-size: 1.9em;
    color: #6A1B9A;
    border-left: 2px solid #696969;
}

header h1
{
    margin: auto;
    font-size: 3.3em; 
}

header h2
{
    margin: auto; 
}

.louis
{
    color: #6A1B9A;
}

.devel
{
    border-bottom: 2px solid #6A1B9A;
}

.icons h2
{
    font-size: 1.6em;
}

.contact
{
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    
     
}

.contact p
{
    height: 17px;
}

.propos
{
    text-align: justify;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 570px;
}

.loisirs
{
    margin-bottom: 30px; 
}

.left_container section
{
    margin-top: auto;
    
}

.formation
{
    margin-top: 30px; 
}

.recommandation
{
    display: flex;
    align-items: initial;
    padding-top: 2em;
}

.left_reco, .right_reco
{
    width: 45%;
}

.ulpadding
{
    display: inline;
    padding-inline-start: 0;
}

 li 
{
    margin-left: 0;
    margin-top: 5px;
    display: flex;
    align-items: baseline;
}

.name 
{
    margin-right: 10px;
    margin-left: 30px;
}

.date
{
    margin-top: 3em;
    margin-left: 10px;
    margin-right: 10%;
    width: 20%;
}

.img
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    
}

img
{
    border: 3px solid #4A148C;
    border-radius: 50%;
    height: 190px;
    width: 190px;   
}

.left_icons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 45px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    color: #212121;
}

.icon1, .icon2, .icon3
{
    border: 2px solid #212121;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;  
    overflow: hidden;
}

.right_icons
{
    color: #6A1B9A;
    font-size: 35px;
    margin-right: 30px;
}

.icons
{
    display: flex;
    align-items: baseline;
    border-bottom: 2px solid #6A1B9A;
    margin-top: 40px;
}

.dot_circle
{
    color: #6A1B9A;
    font-size: 10px;
}

.circle
{
    font-size: 10px;
    color: #6A1B9A;
}


/* Laptop */
@media screen and (max-width: 1370px)
{
   .left_container
   {
       width: 30%;
   }

   .right_container
   {
       width: 60%;
   }

   .date
   {
       width: 70%;
   }

   .propos
   {
       margin-bottom: 740px;
   }
} 

/* Tablet */
@media screen and (max-width: 950px) 
{
    .container
    {
        flex-direction: column;
    }

    .left_container
    {
        width: 100%;
    }

    .right_container
    {
        width: 90%;
        margin-top: 50px;
        margin-left: 2.5em;
    }

    .img
    {
        margin-top: 50px;
        margin-bottom: 30px;
        height: 100%;
    }

    img
    {
        height: 220px;
        width: 220px;   
    }

    .contact
    {
        padding-left: 2em;
        margin-bottom: 30px;
        justify-content: center;
    }

    .propos
    {
        text-align: justify;
        padding-left: 2em;
        padding-right: 2em;
        height: 100%;
        padding-top: 3px;
        margin-bottom: 3px;
    }

    .loisirs
    {
        margin-top: 10px;
    }

    .formation
    {
        margin-top: 30px; 
    }

    .ulpadding
    {
       padding-inline-start: 0;
       display: inline-flex;
       flex-direction: column;
    }

    .name 
    {
        margin-right: 50px;
        
    }
    
    .date
    {
        margin-top: 1em;
        margin-bottom: 15px;
        width: 90%;
    }
    
     li 
    {
        margin-left: 0px;
        margin-top: 5px;
    }
       
    li p 
    {
        text-align: justify;
        margin: 6px;  
    }

    li h3 
    {
        margin-left: 3px;
    }
    
    .left_container h2
    {
        font-size: 2.4em;
    }

    .left_container p
    {
        font-size: 20px;
    }

    header h1 
    {
        font-size: 3.3em;
        margin-top: 30px
    }

    header h2
    {
        font-size: 2em;
    }
     
    h4 
    {
        margin-bottom: auto;
        margin-left: 5px;
    }

    .contact p
    {
        height: 17px;
    }
    
    .left_icons
    {
        font-size: 45px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .icon1, .icon2, .icon3
    {
        height: 60px;
        width: 60px;
    }
}

/* Smartphone */
@media screen and (max-width: 589px) 
{
    .container
    {
        flex-direction: column;
    }

    .left_container
    {
        width: 100%;
    }

    .right_container
    {
        width: 90%;
        margin-top: 40px;
        margin-left: 22px;
    }

    img
    {
        height: 170px;
        width: 170px;
    }

    .img
    {
        margin-top: 35px;
    }

    .contact
    {
        padding-left: 20px;
        margin-bottom: 20px;  
        height: 100%;
    }

    .propos
    {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }

    .formation
    {
        margin-top: 45px; 
    }

    .experience
    {
        font-size: 13.2px;
    }

    .recommandation
    {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .right_icons
    {
        margin-right: 15px;
    }

    .left_reco, .right_reco
    {
        width: 100%;
        font-size: 16px;
    }

    .left_container p
    {
        font-size: 18px;
    }
    
    header h1
    {
        font-size: 2.5em;
    }

    header h2 
    {
        font-size: 1.5em;
    }
    
    li
    {
        flex-direction: column;
        text-align: justify;
        justify-content: center;
    }
       
    li p
    {
        font-size: 17px;
        
    }
    
    li h3
    {
        text-align: center;
    }

    h4 
    {
        margin-bottom: 0;
    }

    .date
    {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .name
    {
        text-align: center;
        margin: auto;
    }

    .left_icons
    {
       margin-bottom: 55px;
       margin-top: 50px;
    }

    .circle
    {
        margin-left: 48.5%;
        margin-top: 15px;
    }

    .dot_circle
    {
        margin-left: 48.5%;
    }
}

@media screen and (max-width: 423px)
{
    .right_container
    { 
        margin-left: 22.5px;
    }

    .experience
    {
        font-size: 12px;
    }

    .recommandation
    {
        font-size: 18px;
    }

   

    .right_reco
    {
       margin-left: 4.5px;
    }
} 

@media screen and (max-width: 354px) 
{
    .left_container
    {
        width: 100%;
    }

    .right_container
    {
        width: 90%;
        margin-top: 50px;
        margin-left: 16px;
    }

    .left_container h2
    {
        font-size: 2em;
    }

    .left_container p
    {
        font-size: 18px;
    }

    .recommandation 
    {
        font-size: 16px;
    }

    header h1
    {
        font-size: 2.2em;
    }

    header h2 
    {
        font-size: 1.5em;
    }

    footer h2
    {
        font-size: 10px;
    }

    .icons h2
    {
        font-size: 1.3em;
    }

    .reco_h2
    {
        font-size: 16px;
    }

    .right_reco
    {
       margin-left: 4.5px;
    }
    
    .right_icons
    {
        margin-right: 12px;
    }
}

